<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pic.image %>
			<p>
			  <%= @pic.description %>
			</p>
			<%= link_to 'Edit Picture', edit_pic_path(@pic) %> |
			<%= link_to 'Back to Picture LIst', pics_path %>	
		</div>
	</div>
</div>


