<div class="form-actions about-page">
	<h1>About</h1>
	<p>
		Campics is a photo sharing web application for students from different universities to share photos from their campus. 
		<br>Users are also able to experience the life of a college student on any campus through brand new photos being uploaded. 
	</p><br>
	<p>
	Campics is currently only available to students from the following schools: 
	<li> UCI
	<li> STANFORD
	<li> MIT
	<li> CIT
	<li> USC
	<li> YALE
	<li> DARTMOUTH
	<li> UCLA
	<li> PRINCETON
	<li> HARVARD
	</p><br>
	<h2>Authors</h2>
	<p>
		We created Campics for the WebJam Winter 2013 hosted by ICS Student Council.
		<br> We are all currently students from the Information and Computer Science School at UC Irvine. 
		<li> Kevin Sison (4th Year, CSE)
		<li> Tony Baik (3rd Year, CS)
		<li> Christine Lew (2nd Year, CS)
	</p><br>
</div>

