<h1>About</h1>
<p>
	Campics is a photo sharing web application for students from different universities to share photos from their campus. 
	<br>Users are also able to experience the life of a college student on any campus through brand new photos being uploaded. 
</p><br>
<h2>Authors</h2>
<p>
	As a team of four, we created Campics for the WebJam Winter 2013 hosted by ICS Student Council.
	<br> We are a dynamic mix of passionate developers from UC Irvine. 
	<li> Kevin Sison (4th Year, CSE)
	<li> Tony Baik (3rd Year, CS)
	<li> Christine Lew (2nd Year, CS)
	<li> Andy Huynh (4th Year, Music)

	
	
</p><br>
<a class="twitter-timeline" href="https://twitter.com/search?q=%23UCI" data-widget-id="305568460568666113">Tweets about "#UCI"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>