<% if user_signed_in? %>
	<p>
		Put pictures and stuff here
	</p>
<% else %>

<div class="hero-unit">
	<h1>Web Jam Team 8 </h1>
	<p>
		Paragraph goes here
	</p>
	<p>
 	 	<%= link_to "Sign Up Here!", new_user_registration_path, class: "btn btn-primary btn-large" %>
 	</p>	
</div>
<% end %>