
#bottom-border
{
    left:0;
    position:absolute;  
    bottom:0; 
    width:100%; 
    height: 45px;
}



#bottom-border-uci
{ 
    float: left;
    background-color: #002243;
    width: 10%;
    height: 100%;
}



#bottom-border-stanford
{
    float: left;
    background-color: #9a000a;
    width: 10%;
    height: 100%;
}

#bottom-border-mit
{ 
    float: left;
    background-color: #993333;
    width: 10%;
    height: 100%;
}

#bottom-border-mit span
{
    color: #CCCCCC;
}

#bottom-border-cit
{
    float: left;
    background-color: #f26726;
    width: 10%;
    height: 100%;
}

#bottom-border-yale
{
    float: left;
    background-color: #0F4D92;
    width: 10%;
    height: 100%;
}

#bottom-border-usc
{
    float: left;
    background-color: #FFCC00 ;
    width: 10%;
    height: 100%;
}

#bottom-border-usc span
{
    color: #990000 !important;
}

#bottom-border-dartmouth
{
    float: left;
    background-color: #006633;
    width: 10%;
    height: 100%;
}

#bottom-border-ucla
{
    float: left;
    background-color: #002243;
    width: 10%;
    height: 100%;
}

#bottom-border-ucla span
{
    color: #ffde6c !important;
}

#bottom-border-princeton
{
    float: left;
    background-color: #f4802d;
    width: 10%;
    height: 100%;
}

#bottom-border-princeton span
{
    color: #221f20;
}


#bottom-border-harvard
{
    float: left;
    background-color: #a51C30;
    width: 10%;
    height: 100%;
}