
/* Bottom Border */

#bottom-border
{
    left:0;
    position:absolute; 
    text-align:center; 
    bottom:0; 
    width:100%; 
    height: 25px;
}

#bottom-border span
{
    display: block;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-shadow: 0 1px 0 #5e5e5e;
}

#bottom-border-uci
{ 
    float: left;
    background-color: #002243;
    width: 10%;
    height: 100%;
}

#bottom-border-uci span
{
    color: #ffde6c;
}

#bottom-border-stanford
{
    float: left;
    background-color: #9a000a;
    width: 10%;
    height: 100%;
}

#bottom-border-mit
{ 
    float: left;
    background-color: #993333;
    width: 10%;
    height: 100%;
}

#bottom-border-mit span
{
    color: #666666;
}

#bottom-border-cit
{
    float: left;
    background-color: #f26726;
    width: 10%;
    height: 100%;
}

#bottom-border-yale
{
    float: left;
    background-color: #0F4D92;
    width: 10%;
    height: 100%;
}

#bottom-border-usc
{
    float: left;
    background-color: #FFCC00 ;
    width: 10%;
    height: 100%;
}

#bottom-border-usc span
{
    color: #990000;
}

#bottom-border-dartmouth
{
    float: left;
    background-color: #006633;
    width: 10%;
    height: 100%;
}

#bottom-border-ucla
{
    float: left;
    background-color: #002243;
    width: 10%;
    height: 100%;
}

#bottom-border-ucla span
{
    color: #ffde6c;
}

#bottom-border-princeton
{
    float: left;
    background-color: #f4802d;
    width: 10%;
    height: 100%;
}

#bottom-border-princeton span
{
    color: #221f20;
}


#bottom-border-harvard
{
    float: left;
    background-color: #a51C30;
    width: 10%;
    height: 100%;
}