body
{
    font-size: 1em;
    font-family: "Arial", Verdana, Helvetica, Sans-Serif;
    line-height: 1.7em;
    color: #333;
    background-color: #fff;
    margin: 0 0;
    padding: 0 0;
    background-image: url('/assets/classy_fabric.png');
    overflow:hidden;
}

ul 
{
    list-style-type: square;
    padding: 0 20px;
    margin: 0;
}

a
{
    text-decoration:none;
}


/* --------------------------------------------------------
     Homepage Styles
-----------------------------------------------------------*/

#container
{   
    position: absolute;
    z-index: 10;
    top: 42px;
    left: 0px;
    margin: 0 0;
    font-family: arial, sans-serif;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #383737), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #383737 0%, #000000 100%);
}

#header-logo {
    left: 0px;
    right: 0px; 
    padding: 1em;
    z-index: 1;
    position: fixed;
    -moz-box-shadow: 0 0 5px 5px #000;
    -webkit-box-shadow: 0 0 5px 5px#000;
    box-shadow: 0 0 5px 5px #000;

    background: #141414; /* Old browsers */
    background: -moz-linear-gradient(top,  #141414 1%, #202321 51%, #141212 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#141414), color-stop(51%,#202321), color-stop(100%,#141212)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #141414 1%,#202321 51%,#141212 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#141212',GradientType=0 ); /* IE6-9 */



}   

.hwrapper {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#hscroll-main-wrapper
{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.vwrapper
{
    position: relative;
    display: block;
    float: left;
    width: 300px;
    padding: 0px 20px;

}

.vwrapper-content
{
    position: absolute;
    padding-bottom: 45px;
    width: 300px;
}

#vscroll1
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #006BD4 0%, #002243 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #006BD4 0%, #002243 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #006BD4 0%, #002243 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #006BD4), color-stop(1, #002243));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #006BD4 0%, #002243 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #006BD4 0%, #002243 100%);
}

/* Dartmouth - Green */
#vscroll7
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #00FF80 0%, #006633 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #00FF80 0%, #006633 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #00FF80 0%, #006633 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #00FF80), color-stop(1, #006633));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #00FF80 0%, #006633 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #00FF80 0%, #006633 100%);
}

/* Harvard - Red */
#vscroll10
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FF596A 0%, #A51C30 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FF596A 0%, #A51C30 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FF596A 0%, #A51C30 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FF596A), color-stop(1, #A51C30));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FF596A 0%, #A51C30 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FF596A 0%, #A51C30 100%);
}

/* CIT - Orange */
#vscroll4
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFBA91 0%, #F26726 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFBA91 0%, #F26726 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFBA91 0%, #F26726 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFBA91), color-stop(1, #F26726));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFBA91 0%, #F26726 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FFBA91 0%, #F26726 100%);
}

/* Yale - Blue */
#vscroll5
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #73A2FF 0%, #0F4D92 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #73A2FF 0%, #0F4D92 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #73A2FF 0%, #0F4D92 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #73A2FF), color-stop(1, #0F4D92));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #73A2FF 0%, #0F4D92 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #73A2FF 0%, #0F4D92 100%);
}

/* Stanford - Red */
#vscroll2
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FC6060 0%, #9A000A 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FC6060 0%, #9A000A 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FC6060 0%, #9A000A 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FC6060), color-stop(1, #9A000A));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FC6060 0%, #9A000A 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FC6060 0%, #9A000A 100%);
}

/* USC - Yellow */
#vscroll6
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFF8DE 0%, #FFCC00 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFF8DE 0%, #FFCC00 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFF8DE 0%, #FFCC00 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFF8DE), color-stop(1, #FFCC00));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFF8DE 0%, #FFCC00 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FFF8DE 0%, #FFCC00 100%);
}

/* UCLA - Blue */
#vscroll8
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #0081FF 0%, #002243 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #0081FF 0%, #002243 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #0081FF 0%, #002243 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #0081FF), color-stop(1, #002243));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #0081FF 0%, #002243 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #0081FF 0%, #002243 100%);
}

/* Princeton - Orange */
#vscroll9
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FAC78C 0%, #F4802D 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FAC78C 0%, #F4802D 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FAC78C 0%, #F4802D 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FAC78C), color-stop(1, #F4802D));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FAC78C 0%, #F4802D 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FAC78C 0%, #F4802D 100%);
}

/* MIT - Salmon */
#vscroll3
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FF8787 0%, #993333 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FF8787 0%, #993333 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FF8787 0%, #993333 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FF8787), color-stop(1, #993333));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FF8787 0%, #993333 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FF8787 0%, #993333 100%);
}

/* --------------------------------------------------------
     Navigation Bar
-----------------------------------------------------------*/

.navbar
{
    z-index: 50;
    box-shadow: 0px 0px 5px 3px #000;
    position: relative;
}

/* --------------------------------------------------------
     Panel img
-----------------------------------------------------------*/

.image-links div
{
    width: 300px;
    height: 225px;
    margin: 20px 0px;
}

.image-links img
{
    display: block;
    width: 300px;
    height: 225px;
    /*box-shadow: 0px 5px 10px 3px #000;*/
}

.image-links a
{
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px 3px #000;
}

.college-text
{
    position: absolute;
    z-index: 1;
}

.college-text img
{
    position: relative;
    height: 225px;
    float: left;
    margin: 0px 20px;
    width: 300px;
}

/* --------------------------------------------------------
     Content Pages
-----------------------------------------------------------*/

#site-container
{   
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 0;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #383737), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #383737 0%, #000000 100%);
}

#hscroll-main-wrapper
{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px
}

.section-container
{
    position: relative;
    display: block;
    float: left;
    padding: 0px;
}

.section
{
    position: absolute;
    padding-top: 0px;
    width: 100%;
}

.panes
{
    display: block;
    position: relative;
    top: 42px;
}

.panes img
{
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    box-shadow: 0px 5px 50px 5px #000;
}

.section img
{
    height: auto;
}

/* --------------------------------------------------------
     Twitter Feed
-----------------------------------------------------------*/
.ticker ul.tweet_list
{
    height:4em;
    overflow-y:hidden;
    background-color: transparent;
}
.ticker .tweet_list li 
{
    height: 4em;
}

.ticker 
{
    width: 55%;
    margin: 0 auto;
    text-align: left;
}

span.tweet_text
{
    font-size: 100%;
}

/* --------------------------------------------------------
     Sign-Up
-----------------------------------------------------------*/

.user-container
{
    background-image: url('/assets/classy_fabric.png');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.user-content
{
    margin: 0 auto;
    text-align: center;
}

.form-actions
{
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 3px #000000;
}

.checkbox
{
    width: 0;
    margin: 0 auto;
}

.about-page
{
    width: 80% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.edit-page
{
    width: 40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.new-page
{
    width: 40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

#pic_image
{
    position: relative !important;
    left: 90px !important;
}

.update-page
{
    width:40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.list-page
{
    width: 80% !important;
    position: relative;

    /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.list-page .btn
{
    margin: 5px 10px;
}

.list-page p
{
    margin: 10px;
}