
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$dropdownBackground: #383838;;
$dropdownLinkColor: white;
$navbarBackground:                #383838 ;
$navbarBackgroundHighlight:       #5E5E5E ;
$navbarText:                      #FFFFFF ;
$navbarLinkColor:                 #FFFFFF ;
$navbarSearchPlaceholderColor:    #FFFFFF ;

@import 'bootstrap';

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}