
$btnPrimaryBackground: green;
$dropdownBackground: #383838;;
$dropdownLinkColor: white;
$navbarBackgroundHighlight:       #5E5E5E ;
$navbarText:                      #FFFFFF ;
$navbarLinkColor:                 #FFFFFF ;
$navbarSearchPlaceholderColor:    #FFFFFF ;

@import 'bootstrap';

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}


/* Jquery Masonry*/

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}


