
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
/*$navbarBackground: white;*/

@import 'bootstrap';

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}