<div class="footer">
	<small>
		<ul>University of California, Irvine | WebJam | Winter 2013</ul>
		<ul>This ridiculously good-looking app was created by</ul>
		<ul>Tony Baik, Kevin Sison, Christine Lew</li>
	</small>

</div>